<!DOCTYPE html>
<html>
<head lang="en">
	<meta charset="UTF-8">
	<title>Watchshop: Магазин часов</title>
	<link href="../assets/stylesheets/normalize.css" media="screen" rel="stylesheet" type="text/css">
	<link href="../assets/stylesheets/main.css" media="screen" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="../assets/javascripts/fancybox/source/jquery.fancybox.css" type="text/css" media="screen" />
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<script src="../assets/javascripts/html5shiv.min.js"></script>
	<script src="../assets/javascripts/html5shiv-printshiv.min.js"></script>
	<!--[if lte IE 8]>
	<script src="../assets/javascripts/css3-mediaqueries.min.js"></script>
	<script src="../assets/javascripts/selectivizr-min.js"></script>
	<![endif]-->
</head>
<body id="main">
	<header>
		<section class="menu-contacts-block">
			<div class="max-wrapper clearfix">
				<div class="watch-logo"></div>
				<div class="shop-name">
					<div class="name">Watchshop</div>
					<div class="description">Часовой магазин</div>
				</div>
				<nav class="main-menu-container">
					<ul class="main-menu">
						<li><a href="#main">Главная</a>
						<li><a href="#advantages">Преимущества</a>
						<li><a href="#faq">Вопросы</a>
						<li><a href="#advantages">Преимущества</a>
						<li><a href="#faq">Вопросы</a>
					</ul>
				</nav>
				<div class="contacts">
					<div class="work-hours">Работаем с 10<sup>00</sup> до 21<sup>00</sup></div>
					<div class="phone">+7 (981) 787 66 73</div>
				</div>
			</div>
		</section>
	</header>
	<section class="order">
		<div class="middle-wrapper">
		<div class="big-header">Закажи женские часы известной марки с огромной скикдой и
			бесплатной доставкой по СПб</div>
		<article class="order-watch clearfix">
			<div class="watch-pic"></div>
			<div class="watch-information">
				<div class="watch-logo"></div>
				<div class="watch-name">Rado jubile True</div>
				<div class="watch-description">Стиль доступный всем</div>
				<div class="watch-price">2550 Р</div>
				<a href="" class="btn">Оформить заказ</a>
			</div>
			<ul class="watch-gallery">
				<li class="active">
				<a href="#">
					<img src="../assets/images/black-clock.png" alt="watch" data-image="images/black-clock.png"/>
				</a>
				<li>
				<a href="#">
					<img src="../assets/images/white-clock.png" data-image="images/white-clock.png" alt="watch" />
				</a>
			</ul>
		</article>
		</div>
	</section>
	<section class="advantages">
		<div class="middle-wrapper">
			<div class="middle-header">Почему стоит<br>
				заказать часы у нас?</div>
			<ul class="advantages-list clearfix">
				<li class="free-ship">
					<div class="pic"></div>
					<div class="advantage-name">Бесплатная доставка</div>
					<div class="advantage-description">
						При заказе часов мы абсолютно бесплатно доставим их вам
					</div>
				<li class="belgium">
					<div class="pic"></div>
					<div class="advantage-name">Не просто<br>
						Китай</div>
					<div class="advantage-description">
						Это не просто китайские часы, это часы с Бельгийским механизмом
					</div>
				<li class="hours">
					<div class="pic"></div>
					<div class="advantage-name">Пара<br>
						часов</div>
					<div class="advantage-description">
						Продана нами всего за месяц работы.
						Нам доверяют и это очень хорошо!
					</div>
			</ul>
			<div class="line"></div>
		</div>
	</section>
	<section class="watch-details">
		<div class="middle-wrapper">
			<div class="middle-header">Часы Rado True</div>
			<div class="watch-details-container clearfix">
				<div class="table-clock"></div>
				<table class="watch-characteristics">
					<tr>
						<td>Цвет:</td>
						<td>Белый, Черный</td>
					</tr>
					<tr>
						<td>Механизм и тип:</td>
						<td>Кварцевые, унисекс</td>
					</tr>
					<tr>
						<td>Материал:</td>
						<td>Особый фирменный металический браслет,
							износостойкое сапфировое стекло</td>
					</tr>
					<tr>
						<td>Сборка:</td>
						<td>Бельгия</td>
					</tr>
					<tr>
						<td>Корпус:</td>
						<td>Износостойкий, Металический</td>
					</tr>
					<tr>
						<td>Функции:</td>
						<td>Часы, Минуты, Секунды, Дата</td>
					</tr>
					<tr>
						<td>Высота:</td>
						<td>44 мм</td>
					</tr>
					<tr>
						<td>Ширина:</td>
						<td>39 мм</td>
					</tr>
					<tr>
						<td>Толщина:</td>
						<td>12 мм</td>
					</tr>
					<tr>
						<td>Цена:</td>
						<td class="price">2550 р</td>
					</tr>
				</table>
				<a href="" class="btn">Оформить заказ</a>
			</div>
			<div class="line"></div>
		</div>
	</section>
	<section class="faq" id="faq">
		<div class="middle-wrapper">
			<div class="middle-header">Ваши вопросы</div>
		</div>
			<article class="faq-container clearfix">
				<div class="middle-wrapper">
					<ul class="questions-list clearfix">
						<li>
						<div class="question"><span>В:</span> Часы паленые?</div>
						<div class="answer"><span>О:</span> Ну в какой-то степени да. Это реплика знаменитых часов.
							Собраны в Китае. Однако механизм белгийский, что позволяет
							часам служить вам максимально долго</div>
						<li>
							<div class="question"><span>В:</span> Доставка только по Санкт-Петербургу?</div>
							<div class="answer"><span>О:</span> Бесплатная доставка действует по Санкт-Петербургу.
								Доставка по ЛО платная, для того, чтобы узнать о тарифах
								<a href="" class="send-request">оставьте заявку</a></div>
						<li>
							<div class="question"><span>В:</span> Часы паленые?</div>
							<div class="answer"><span>О:</span> Ну в какой-то степени да. Это реплика знаменитых часов.
								Собраны в Китае. Однако механизм белгийский, что позволяет
								часам служить вам максимально долго</div>
						<li>
							<div class="question"><span>В:</span> Доставка только по Санкт-Петербургу?</div>
							<div class="answer"><span>О:</span> Бесплатная доставка действует по Санкт-Петербургу.
								Доставка по ЛО платная, для того, чтобы узнать о тарифах
								<a href="" class="send-request">оставьте заявку</a></div>
					</ul>
				</div>
				<div class="watch-image"></div>
			</article>
		<div class="middle-wrapper">
			<div class="block-wrapper">
				<div class="text-block">Нет ответа на твой вопрос? Задай его здесь:</div><!--
				--><a href="" class="btn">Задать свой вопрос</a>
			</div>
			<div class="line"></div>
		</div>
	</section>
	<section class="large-watch-gallery">
		<div class="middle-header">Фотографии наших клиентов</div>
		<ul class="large-watch-list">
			<li>
				<a class="fancybox" rel="gallery2" href="../assets/images/gallery/img1.jpg">
					<img src="../assets/images/gallery/img1.jpg" alt="watch" />
				</a>
			<li>
				<a class="fancybox" rel="gallery2" href="../assets/images/gallery/img2.jpg">
					<img src="../assets/images/gallery/img2.jpg" alt="watch" />
				</a>
			<li>
				<a class="fancybox" rel="gallery2" href="../assets/images/gallery/img3.jpg">
					<img src="../assets/images/gallery/img3.jpg" alt="watch" />
				</a>
			<li>
				<a class="fancybox" rel="gallery2" href="../assets/images/gallery/img1.jpg">
					<img src="../assets/images/gallery/img1.jpg" alt="watch" />
				</a>
			<li>
				<a class="fancybox" rel="gallery2" href="../assets/images/gallery/img2.jpg">
					<img src="../assets/images/gallery/img2.jpg" alt="watch" />
				</a>
			<li>
				<a class="fancybox" rel="gallery2" href="../assets/images/gallery/img3.jpg">
					<img src="../assets/images/gallery/img3.jpg" alt="watch" />
				</a>
		</ul>
	</section>
	<section class="how-we-work" id="advantages">
		<div class="middle-wrapper">
			<div class="middle-header">Как мы работаем</div>
			<div class="small-text-block">
				Мы не берем предоплаты. Вы можете проверить качество товара до покупки!
				Сначала доставка, потом оплата!
			</div>
			<ul class="steps-list">
				<li>
					<div class="step-name">1. Заявка</div>
					<div class="step-description">Вы оформляете заказ.
						Заполняете простую форму заказа</div>
				<li>
					<div class="step-name">2. Звонок</div>
					<div class="step-description">Наш менеджер связывается с
						Вами для уточнения деталей</div>
				<li>
					<div class="step-name">3. Отправка</div>
					<div class="step-description">Отправляем часы
						курьером или Почтой России</div>
				<li>
					<div class="step-name">4. Получение</div>
					<div class="step-description">Вы получаете заказ курьером
						или на почте</div>
				<li>
					<div class="step-name">5. Оплата</div>
					<div class="step-description">Производите оплату
						доставленного заказа</div>
			</ul>
		</div>
	</section>
	<footer>
			<div class="block-wrapper">
				<div class="inner-table-container">
					<div class="middle-text-block">
						Остались вопросы?
						Задайте их нашему менеджеру, оставьте заявку, и мы вам перезвоним!
					</div><!--
					-->
					<div class="btn-container">
						<a class="btn" href="">Оставить заявку</a>
					</div>
				</div>
			</div>
			<div class="middle-wrapper"><div class="line"></div></div>
			<section class="menu-contacts-block">
				<div class="max-wrapper clearfix">
					<div class="watch-logo"></div>
					<div class="shop-name">
						<div class="name">Watchshop</div>
						<div class="description">Часовой магазин</div>
					</div>
					<nav class="main-menu-container">
						<ul class="main-menu">
							<li><a href="#main">Главная</a>
							<li><a href="#advantages">Преимущества</a>
							<li><a href="#faq">Вопросы</a>
							<li><a href="#advantages">Преимущества</a>
							<li><a href="#faq">Вопросы</a>
						</ul>
					</nav>
					<div class="contacts">
						<div class="work-hours">Работаем с 10<sup>00</sup> до 21<sup>00</sup></div>
						<div class="phone">+7 (981) 787 66 73</div>
					</div>
				</div>
			</section>
			<section class="social-network">
				<div class="social-description">Мы в социальных сетях:</div><!--
				--><ul class="social-list">
					<li><a class="social-btn fb" href=""></a>
					<li><a class="social-btn inst" href=""></a>
					<li><a class="social-btn vk" href=""></a>
				</ul>
			</section>
	</footer>
	<script src="../assets/javascripts/fancybox/source/jquery.fancybox.pack.js"></script>
	<script src="../assets/javascripts/main.js"></script>
</body>
</html>